body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}